@import url("https://fonts.googleapis.com/css2?family=Anton&family=Sarala&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
   font-size: 2,25rem; 
   background-color: #E1C0AC;

}
.conteudo-titulo{
    padding-left:  0% 60%;
    color: cyan;
}
.conteudo-subtitulo{
    padding: 0% 30%;
    color: blueviolet;
}
.logomarca{
    padding: 0% 60%;
    height: 100vh;
}