@import url("https://fonts.googleapis.com/css2?family=Anton&family=Sarala&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
   font-size: 2,25rem; 
   background-color: #a0775e;

}
.conteudo-titulo{
    font-size: 28px;
    font-family: "Anto&family";
    color: cyan;
    padding: 1em;
}
.conteudo-subtitulo{
    font-family: "Anto&family";
    font-size: 28px;
    padding: 2mm;
    color: blueviolet;
}
.logomarca{
    background: 28px;
    
}